@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


textarea:focus, input:focus{
  outline: none;
}

input:invalid {

}
